<section class="blog">
	<div class="container">
		<div class="blog-content">
			<div class="blog-top">
				<h3 class="blog-top-title">Blog</h3>
				<a href="#!" class="blog-btn">
					All Articles
					<svg class="blog-icon">
						<path
							d="M12.3365 6.72279L6.9 1.40225L8.33311 -0.000299454L16.2162 7.71469L8.33311 15.4297L6.9 14.0271L12.3365 8.70659H0L0 6.72279H12.3365Z" />
					</svg>
				</a>
			</div>
			<div class="blog-grid">
				<div class="blog-card">
					<img src="./../../../components/Home/Blog/images/blog1.webp" alt="Blog photo" class="blog-img">
					<p class="blog-title">How To Start Using Banko For Your Startup</p>
					<p class="blog-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
					</p>
					<div class="blog-link">
						<a href="#!">Product</a>
						<a href="#!">Technology</a>
					</div>
				</div>
				<div class="blog-card">
					<img src="./../../../components/Home/Blog/images/blog2.webp" alt="Blog photo" class="blog-img">
					<p class="blog-title">10 Things Nobody Told You About Banko</p>
					<p class="blog-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
					</p>
					<div class="blog-link">
						<a href="#!">Product</a>
						<a href="#!">Technology</a>
					</div>
				</div>
				<div class="blog-card">
					<img src="./../../../components/Home/Blog/images/blog3.webp" alt="Blog photo" class="blog-img">
					<p class="blog-title">7 Ways To Improve You Saving Habits</p>
					<p class="blog-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi.
					</p>
					<div class="blog-link">
						<a href="#!">Product</a>
						<a href="#!">Technology</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>