.faq {
	padding: 80px 0;
}

.faq-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq-block {
	width: 400px;
}

.faq-title {
	font-family: var(--second-family);
	font-size: 64px;
	line-height: 110%;
	letter-spacing: -0.03em;
	margin-bottom: 40px;
}

.faq-contacts {
	display: flex;
	flex-direction: column;
}

.contact-link {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 40px;
}

.contact-text {
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.03em;

	span {
		font-size: 14px;
		color: var(--text-muted);
	}
}

.faq-btn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: var(--text-primary);
	transition: all 140ms ease-in;
}

.faq-btn:active {
	top: 2px;
}

.faq-icon {
	width: 17px;
	height: 16px;
	fill: var(--icon-primary);
}
