.faq {
	padding: 80px 0;
}

.faq-block-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.faq-block {
	max-width: 400px;
}

.faq-block-title {
	font-family: var(--second-family);
	font-size: 64px;
	line-height: 110%;
	letter-spacing: -0.03em;
	margin-bottom: 40px;
}

.faq-contacts {
	display: flex;
	flex-direction: column;
}

.contact-link {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 40px;
}

.contact-text {
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.03em;

	span {
		font-size: 14px;
		color: var(--text-muted);
	}
}

.faq-btn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: var(--text-primary);
	transition: all 140ms ease-in;
}

.faq-btn:active {
	top: 2px;
}

.faq-icon {
	width: 17px;
	height: 16px;
	fill: var(--icon-primary);
}

.faq-accordion {
	width: 100%;
	max-width: 600px;
	// Убедись, что родитель не имеет align-items: center, если он во флексе

	.faq-item {
		border-bottom: 1px solid var(--border-default);
		cursor: pointer;
		display: block; // Гарантируем блочную модель

		&.active {
			.faq-icon-wrapper {
				transform: rotate(45deg); // 45 градусов превратят + в х
			}

			.faq-content {
				grid-template-rows: 1fr;
				margin-bottom: 24px; // Отступ снизу появляется внутри контента
			}
		}
	}

	.faq-trigger {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0; // Константный паддинг, который не меняется
	}

	.faq-title {
		font-family: var(--second-family);
		font-size: 20px;
		line-height: 120%;
		letter-spacing: -0.03em;
	}

	.faq-icon-wrapper {
		position: relative;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		flex-shrink: 0; // Чтобы иконку не сплющило
	}

	.faq-plus {

		.line-h,
		.line-v {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: var(--icon-primary);
			transition: background-color 0.3s ease;
		}

		.line-h {
			width: 14px;
			height: 2px;
		}

		.line-v {
			width: 2px;
			height: 14px;
		}
	}

	.faq-content {
		display: grid;
		grid-template-rows: 0fr; // Схлопнуто
		transition: grid-template-rows 0.3s ease, margin 0.3s ease;
		overflow: hidden;

		.faq-inner {
			min-height: 0;
		}
	}
}