<section class="faq">
	<div class="container">
		<div class="faq-content">
			<div class="faq-block">
				<h3 class="faq-title">Need help?</h3>
				<div class="faq-contacts">
					<div class="contact-link">
						<a href="tel:+">
							<img src="./../../../components/Home/Faq/images/phone.svg" alt="Phone icon">
						</a>
						<p class="contact-text">+49 176 123 456<br /><span>Support Hotline</span></p>
					</div>
					<div class="contact-link">
						<a href="mailto:example@mail.com">
							<img src="./../../../components/Home/Faq/images/mail.svg" alt="Mail icon">
						</a>
						<p class="contact-text">help@banquee.com<br /><span>Support Email</span></p>
					</div>
				</div>
				<a href="#!" class="faq-btn">
					Support
					<svg class="faq-icon">
						<path
							d="M12.3365 6.72279L6.9 1.40225L8.33311 -0.000299454L16.2162 7.71469L8.33311 15.4297L6.9 14.0271L12.3365 8.70659H0L0 6.72279H12.3365Z" />
					</svg>
				</a>
			</div>
			<div class="faq-accordion">accordion</div>
		</div>
	</div>
</section>