<section class="faq">
	<div class="container">
		<div class="faq-block-content">
			<div class="faq-block">
				<h3 class="faq-block-title">Need help?</h3>
				<div class="faq-contacts">
					<div class="contact-link">
						<a href="tel:+">
							<img src="./../../../components/Home/Faq/images/phone.svg" alt="Phone icon">
						</a>
						<p class="contact-text">+49 176 123 456<br /><span>Support Hotline</span></p>
					</div>
					<div class="contact-link">
						<a href="mailto:example@mail.com">
							<img src="./../../../components/Home/Faq/images/mail.svg" alt="Mail icon">
						</a>
						<p class="contact-text">help@banquee.com<br /><span>Support Email</span></p>
					</div>
				</div>
				<a href="#!" class="faq-btn">
					Support
					<svg class="faq-icon">
						<path
							d="M12.3365 6.72279L6.9 1.40225L8.33311 -0.000299454L16.2162 7.71469L8.33311 15.4297L6.9 14.0271L12.3365 8.70659H0L0 6.72279H12.3365Z" />
					</svg>
				</a>
			</div>
			<div class="faq-accordion">
				<div class="faq-item">
					<div class="faq-trigger">
						<h3 class="faq-title">How do I open an Banko account?</h3>
						<div class="faq-icon-wrapper">
							<div class="faq-plus">
								<span class="line-h"></span>
								<span class="line-v"></span>
							</div>
						</div>
					</div>
					<div class="faq-content">
						<div class="faq-inner">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque
								penatibus et magnis dis parturient.
							</p>
						</div>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-trigger">
						<h3 class="faq-title">How do I order a new card?</h3>
						<div class="faq-icon-wrapper">
							<div class="faq-plus">
								<span class="line-h"></span>
								<span class="line-v"></span>
							</div>
						</div>
					</div>
					<div class="faq-content">
						<div class="faq-inner">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque
								penatibus et magnis dis parturient.
							</p>
						</div>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-trigger">
						<h3 class="faq-title">How to change my account limits?</h3>
						<div class="faq-icon-wrapper">
							<div class="faq-plus">
								<span class="line-h"></span>
								<span class="line-v"></span>
							</div>
						</div>
					</div>
					<div class="faq-content">
						<div class="faq-inner">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque
								penatibus et magnis dis parturient.
							</p>
						</div>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-trigger">
						<h3 class="faq-title">How does Banko premium works?</h3>
						<div class="faq-icon-wrapper">
							<div class="faq-plus">
								<span class="line-h"></span>
								<span class="line-v"></span>
							</div>
						</div>
					</div>
					<div class="faq-content">
						<div class="faq-inner">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque
								penatibus et magnis dis parturient.
							</p>
						</div>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-trigger">
						<h3 class="faq-title">Can I have two Banko accounts?</h3>
						<div class="faq-icon-wrapper">
							<div class="faq-plus">
								<span class="line-h"></span>
								<span class="line-v"></span>
							</div>
						</div>
					</div>
					<div class="faq-content">
						<div class="faq-inner">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Dui accumsan sit amet nulla facilisi morbi. Eget gravida cum sociis natoque
								penatibus et magnis dis parturient.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>