.tools {
	padding: 80px 0;
	border-bottom: 1px solid var(--border-default);
}

.tools-logo {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 50px;
}

.tools-row {
	display: flex;
	gap: 20px;
}

.tools-content {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.tools-content-block {
	width: 540px;
}

.tools-top-text {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
	margin-bottom: 10px;
}

.tools-title {
	font-family: var(--second-family);
	font-size: 64px;
	line-height: 110%;
	letter-spacing: -0.03em;
	margin-bottom: 20px;
}

.tools-sub-text {
	font-size: 18px;
	line-height: 180%;
}

.tools-right {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tools-right-block {
	display: flex;
	align-items: center;
	gap: 10px;
}

.tools-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--background-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tools-icon {
  width: 22px; 
  height: 22px;
  fill: var(--background-primary);
}

.tools-right-text {
	font-size: 18px;
	line-height: 180%;
}