<section class="tools">
	<div class="container">
		<div class="tools-logo">
			<div class="tools-row">
				<img src="./../../../components/Home/Tools/images/logo1.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo2.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo3.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo4.svg" alt="Tools Logo">
			</div>
			<div class="tools-row">
				<img src="./../../../components/Home/Tools/images/logo5.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo6.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo7.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo8.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo9.svg" alt="Tools Logo">
				<img src="./../../../components/Home/Tools/images/logo10.svg" alt="Tools Logo">
			</div>
		</div>
		<div class="tools-content">
			<div class="tools-content-block">
				<p class="tools-top-text">Tools</p>
				<h3 class="tools-title">Seemless integration</h3>
				<p class="tools-sub-text">
					Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
					velit mollit.
				</p>
			</div>
			<div class="tools-right">
				<div class="tools-right-block">
					<div class="tools-icon-wrapper">
						<svg class="tools-icon">
							<path
								d="M9.16667 13.9079L17.5927 5.48096L18.8898 6.77712L9.16667 16.5002L3.33301 10.6665L4.62917 9.37037L9.16667 13.9079Z" />
						</svg>
					</div>
					<p class="tools-right-text">Secure and encrypted integration</p>
				</div>
				<div class="tools-right-block">
					<div class="tools-icon-wrapper">
						<svg class="tools-icon">
							<path
								d="M9.16667 13.9079L17.5927 5.48096L18.8898 6.77712L9.16667 16.5002L3.33301 10.6665L4.62917 9.37037L9.16667 13.9079Z" />
						</svg>
					</div>
					<p class="tools-right-text">Fully API interface</p>
				</div>
				<div class="tools-right-block">
					<div class="tools-icon-wrapper">
						<svg class="tools-icon">
							<path
								d="M9.16667 13.9079L17.5927 5.48096L18.8898 6.77712L9.16667 16.5002L3.33301 10.6665L4.62917 9.37037L9.16667 13.9079Z" />
						</svg>
					</div>
					<p class="tools-right-text">Payments worldwide</p>
				</div>
			</div>
		</div>
	</div>
</section>