.notifactions {}

.notifactions-content {}

.notifactions-block {}

.notifactions-top-text {}

.notifactions-title {}

.notifactions-sub-text {}

.notified-content {}

.notified-block {}

.notified-icon {}

.notified-text {}

.notifactions-btn {}

// .transactions-vertical-slider {}

// .swiper {}

// .my-vertical-slider {}

// .swiper-wrapper {}

// .swiper-slide {}

// .transactions-card {}

.notifactions-card {}

// .transactions-card-block {}

.notifactions-card-block {}

// .transactions-card-text {}

.notifactions-card-text {}