.notifactions {
	padding: 80px 0 0 0;
}

.notifactions-content {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.notifactions-block {
	width: 540px;
}

.notifactions-top-text {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
	margin-bottom: 20px;
}

.notifactions-title {
	font-family: var(--second-family);
	font-size: 64px;
	line-height: 110%;
	letter-spacing: -0.03em;
	margin-bottom: 30px;
}

.notifactions-sub-text {
	font-size: 18px;
	line-height: 180%;
	margin-bottom: 40px;
}

.notified-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 50px;
}

.notified-block {
	display: flex;
	align-items: center;
	gap: 10px;
}

.notified-icon-wrapper {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--background-primary-light);
}

.notified-icon {
	width: 22px;
	height: 22px;
	fill: var(--icon-primary);
}

.notifactions-btn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: var(--text-primary);
	transition: all 140ms;
	margin-bottom: 40px;
	transition: all 140ms ease-in;
}

.notifactions-btn:active {
	top: 2px;
}

.notifactions-icon {
	width: 22px;
	height: 22px;
	fill: var(--icon-primary);
}

.notifactions-vertical-slider {
	padding: 80px 0 0 0;
}

.my-notifactions-slider {
	height: 500px; 
	overflow: hidden;
}

.swiper-wrapper {
	transition-timing-function: linear !important;
}

.notifactions-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 16px;
	width: 498px;
	height: 82px;
	background: var(--background-muted);
}

.notifactions-card-block {
	display: flex;
	align-items: center;
	gap: 10px;
}

.notifactions-card-text {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: -0.03em;

	span {
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
	}
}