<section class="notifactions">
	<div class="container">
		<div class="notifactions-content">
			<div class="notifactions-block">
				<p class="notifactions-top-text">Notifications</p>
				<h3 class="notifactions-title">Stay notified</h3>
				<p class="notifactions-sub-text">
					Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
					velit mollit. Exercitation veniam consequat sunt nostrud amet.
				</p>
				<div class="notified-content">
					<div class="notified-block">
						<svg class="notified-icon">
							<path
								d="M7.50005 11.3789L14.3941 4.48413L15.4553 5.54463L7.50005 13.4999L2.72705 8.72688L3.78755 7.66638L7.50005 11.3789Z" />
						</svg>
						<p class="notified-text">Malesuada Ipsum</p>
					</div>
					<div class="notified-block">
						<svg class="notified-icon">
							<path
								d="M7.50005 11.3789L14.3941 4.48413L15.4553 5.54463L7.50005 13.4999L2.72705 8.72688L3.78755 7.66638L7.50005 11.3789Z" />
						</svg>
						<p class="notified-text">Vestibulum</p>
					</div>
					<div class="notified-block">
						<svg class="notified-icon">
							<path
								d="M7.50005 11.3789L14.3941 4.48413L15.4553 5.54463L7.50005 13.4999L2.72705 8.72688L3.78755 7.66638L7.50005 11.3789Z" />
						</svg>
						<p class="notified-text">Parturient Lorem</p>
					</div>
				</div>
				<a href="#!" class="notifactions-btn">
					Compare Cards
					<svg class="notifactions-icon">
						<path
							d="M16.2286 11.0082L10.7921 5.68765L12.2252 4.2851L20.1083 12.0001L12.2252 19.7151L10.7921 18.3125L16.2286 12.992H3.89209V11.0082H16.2286Z" />
					</svg>
				</a>
			</div>
			<div class="notifactions-vertical-slider">
				<div class="swiper my-notifactions-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>You payment of 49€ has been processed!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>You got a new support message!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>You payment was declined!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>Please verify your payment of 99€!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>New account statistics are available!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>You payment of 49€ has been processed!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>You got a new support message!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>You payment was declined!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>Please verify your payment of 99€!</span></p>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="notifactions-card">
								<div class="notifactions-card-block">
									<img src="./../../../components/Home/Notifactions/images/app-icon.svg" alt="Notifactions">
									<p class="notifactions-card-text">Banko.<br /><span>New account statistics are available!</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>