<section class="hero">
	<div class="container">
		<div class="hero-content">
			<div class="hero-block">
				<h1 class="hero-title">Banking starts here.</h1>
				<p class="hero-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
				</p>
				<div class="hero-grid">
					<div class="advantages">
						<div class="advant-icon-wrapper">
							<svg class="advant-icon">
								<path
									d="M9.16667 13.9079L17.5927 5.48096L18.8898 6.77712L9.16667 16.5002L3.33301 10.6665L4.62917 9.37037L9.16667 13.9079Z" />
							</svg>
						</div>
						<p class="advantages-text">Instant Transfer</p>
					</div>
					<div class="advantages">
						<div class="advant-icon-wrapper">
							<svg class="advant-icon">
								<path
									d="M9.16667 13.9079L17.5927 5.48096L18.8898 6.77712L9.16667 16.5002L3.33301 10.6665L4.62917 9.37037L9.16667 13.9079Z" />
							</svg>
						</div>
						<p class="advantages-text">Payments worldwide</p>
					</div>
					<div class="advantages">
						<div class="advant-icon-wrapper">
							<svg class="advant-icon">
								<path
									d="M9.16667 13.9079L17.5927 5.48096L18.8898 6.77712L9.16667 16.5002L3.33301 10.6665L4.62917 9.37037L9.16667 13.9079Z" />
							</svg>
						</div>
						<p class="advantages-text">Saving accounts</p>
					</div>
					<div class="advantages">
						<div class="advant-icon-wrapper">
							<svg class="advant-icon">
								<path
									d="M9.16667 13.9079L17.5927 5.48096L18.8898 6.77712L9.16667 16.5002L3.33301 10.6665L4.62917 9.37037L9.16667 13.9079Z" />
							</svg>
						</div>
						<p class="advantages-text">100% mobile banking</p>
					</div>
				</div>
				<div class="hero-buttons">
					<a href="#!" class="account-btn">Open Account</a>
					<a href="#!" class="compare-btn">
						Compare Cards
						<svg class="compare-arrow">
							<path
								d="M16.2286 11.0081L10.7921 5.68752L12.2252 4.28498L20.1083 12L12.2252 19.715L10.7921 18.3124L16.2286 12.9919H3.89209V11.0081H16.2286Z" />
						</svg>
					</a>
				</div>
			</div>
			<picture>
				<source type="image/webp" srcset="./../../../components/Home/Hero/images/cards.webp 1x, 
				./../../../components/Home/Hero/images/cards@2x.webp 2x">
				<img src="./../../../components/Home/Hero/images/cards.webp"
					srcset="./../../../components/Home/Hero/images/cards@2x.webp 2x" width="400" height="578" loading="lazy"
					alt="Photo cards">
			</picture>
		</div>
	</div>
</section>