.testimonials {
	padding: 80px 0;
}

.testimonials-content {
	margin-bottom: 60px;
}

.testimonials-text {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
	margin-bottom: 20px;
}

.testimonials-block {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.title {
	width: 600px;
	font-family: var(--second-family);
	font-size: 64px;
	line-height: 110%;
	letter-spacing: -0.03em;
}

.testimonials-like-usres {
	display: flex;
	align-items: center;
	gap: 20px;
}

.testimonials-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 8px;
	border-radius: 50%;
	fill: var(--background-primary);
	background: var(--background-primary-light);
}

.testimonials-like-text {
	font-size: 18px;
	line-height: 180%;

	span {
		color: var(--text-primary);
	}
}

.testimonials-slider {
	display: flex;
	justify-content: space-between;
}