<section class="testimonials">
	<div class="container">
		<div class="testimonials-content">
			<p class="testimonials-text">Testimonials</p>
			<div class="testimonials-block">
				<h3 class="title">People all over the world use banko.</h3>
				<div class="testimonials-like-usres">
					<svg class="testimonials-icon">
						<path
							d="M11 16.7385L4.53475 20.3575L5.9785 13.0902L0.538086 8.0595L7.89617 7.18683L11 0.458496L14.1038 7.18683L21.4619 8.0595L16.0215 13.0902L17.4653 20.3575L11 16.7385Z" />
					</svg>
					<p class="testimonials-like-text">Rated <span>4.8/5</span> from over 1000 users</p>
				</div>
			</div>
		</div>
		<div class="testimonials-slider">

			<div class="testimonials-vertical-slider">
				<div class="swiper my-testimonials-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testimonials-card">
								<h1>Slider1</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonials-vertical-slider">
				<div class="swiper my-testimonials-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testimonials-card">
								<h1>Slider2</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonials-vertical-slider">
				<div class="swiper my-testimonials-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testimonials-card">
								<h1>Slider3</h1>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>