.cards {
	padding: 80px 0;
}

.cards-content {
	margin: 0 auto;
	width: 530px;
}

.cards-top-text {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
	text-align: center;
	margin-bottom: 10px;
}

.cards-title {
	font-family: var(--second-family);
	font-size: 80px;
	line-height: 110%;
	letter-spacing: -0.03em;
	text-align: center;
	margin-bottom: 20px;
}

.cards-sub-text {
	font-size: 20px;
	line-height: 180%;
	text-align: center;
	margin-bottom: 50px;
}

.cards-slider {
	margin-bottom: 50px;
}

.cards-buttons {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: center;
}

.card-btn-left {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--second-family);
	font-size: 18px;
	padding: 16px 24px;
	letter-spacing: -0.03em;
	border-radius: 6px;
	width: 165px;
	height: 50px;
	color: var(--text-inverse);
	background: var(--background-primary);
	transition: all 140ms ease-in;
}

.card-btn-left:hover {
	background: #468b7c;
}

.card-btn-left:active {
	top: 2px;
}

.card-btn-right {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--second-family);
	font-size: 18px;
	letter-spacing: -0.03em;
	width: 165px;
	height: 50px;
	border: 1px solid var(--border-default);
	border-radius: 6px;
	width: 165px;
	height: 50px;
	color: var(--text-default);
	background: var(--background-default);
	transition: all 140ms ease-in;
}

.card-btn-right:hover {
	background: var(--background-primary-light);
}

.card-btn-right:active {
	top: 2px;
}