.cards {
	padding: 80px 0;
}

.cards-content {
	margin: 0 auto;
	width: 530px;
}

.cards-top-text {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
	text-align: center;
	margin-bottom: 10px;
}

.cards-title {
	font-family: var(--second-family);
	font-size: 80px;
	line-height: 110%;
	letter-spacing: -0.03em;
	text-align: center;
	margin-bottom: 20px;
}

.cards-sub-text {
	font-size: 20px;
	line-height: 180%;
	text-align: center;
	margin-bottom: 50px;
}

.cards-slider {
	margin-bottom: 50px;
}

// Стили для твоего слайдера с картами
.cards-stack {
	width: 350px; // Ширина карты
	height: 250px; // Высота карты
	margin: 50px auto;
	overflow: visible; // Чтобы верхние карты были видны

	// Тот самый код из effect-creative + важные дополнения
	.swiper-slide {
		backface-visibility: hidden;
		overflow: hidden;
		transition-property: transform, opacity, height;

		// Стили самих карточек
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); // Добавим тень для объема

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// Чтобы активная карта была всегда сверху всех
	.swiper-slide-active {
		z-index: 10;
	}
}

.swiper-creative {
	.swiper-slide {
		backface-visibility: hidden;
		overflow: hidden;
		transition-property: transform, opacity, height;
	}
}

.cards-buttons {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: center;
}

.card-btn-left {
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: var(--text-inverse);
	border-radius: 6px;
	padding: 16px 24px;
	background: var(--background-primary);
}

.card-btn-right {
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.03em;
	border: 1px solid var(--border-default);
	color: var(--text-default);
	border-radius: 6px;
	padding: 16px 24px;
	background: var(--background-default);
}