<section class="cards">
	<div class="container">
		<div class="cards-content">
			<p class="cards-top-text">Account</p>
			<h3 class="cards-title">Perfect card for your needs.</h3>
			<p class="cards-sub-text">
				Senectus et netus et malesuada fames ac turpis.
				Sagittis vitae et leo duis ut diam.
			</p>
			<div class="cards-slider">
				<img src="./../../../components/Home/Cards/images/cards.webp" alt="Cards" class="cards-img">
			</div>
			<div class="cards-buttons">
				<a href="#!" class="card-btn-left">Open Account</a>
				<a href="#!" class="card-btn-right">Compare Cards</a>
			</div>
		</div>
	</div>
</section>