.transactions {
	background: var(--background-primary-light);
}

.transactions-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.transactions-block {
	max-width: 560px;
	padding: 80px 0;
}

.transactions-title {
	font-family: var(--second-family);
	font-size: 64px;
	line-height: 110%;
	letter-spacing: -0.03em;
	margin-bottom: 10px;
}

.transactions-text {
	font-size: 20px;
	line-height: 180%;
	margin-bottom: 20px;
}

.transactions-sub {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 10px;
}

.transactions-icon-wrapper {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-primary);
}

.transactions-icon {
  width: 22px; 
  height: 22px;
  fill: var(--text-inverse);
}

.transactions-sub-text {
	font-size: 18px;
	line-height: 180%;
}

.transactions-vertical-slider {
	padding: 80px 0 0 0;
}

.my-transactions-slider {
	height: 560px; // Обязательно задай высоту для вертикального слайдера!
	overflow: hidden;

	.swiper-wrapper {
		// Магия для идеально плавного, линейного движения без остановок:
		transition-timing-function: linear !important;
	}
}

.transactions-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 16px 24px 16px 16px;
	width: 400px;
	height: 83px;
	background: var(--background-default);
}

.transactions-card-block {
	display: flex;
	align-items: center;
	gap: 20px;
}

.transactions-card-text {
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.03em;

	span {
		color: var(--text-muted);
	}
}

.transactions-price {
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.03em;
}