<section class="transactions">
	<div class="container">
		<div class="transactions-content">
			<div class="transactions-block">
				<h3 class="transactions-title">Send & receive money instantly</h3>
				<p class="transactions-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
				</p>
				<div class="transactions-sub-block">
					<div class="transactions-sub">
						<svg class="transactions-sub-icon">
							<path
								d="M7.50005 11.3789L14.3941 4.48413L15.4553 5.54463L7.50005 13.4999L2.72705 8.72688L3.78755 7.66638L7.50005 11.3789Z" />
						</svg>
						<p class="transactions-sub-text">Malesuada Ipsum</p>
					</div>
					<div class="transactions-sub">
						<svg class="transactions-sub-icon">
							<path
								d="M7.50005 11.3789L14.3941 4.48413L15.4553 5.54463L7.50005 13.4999L2.72705 8.72688L3.78755 7.66638L7.50005 11.3789Z" />
						</svg>
						<p class="transactions-sub-text">Vestibulum</p>
					</div>
					<div class="transactions-sub">
						<svg class="transactions-sub-icon">
							<path
								d="M7.50005 11.3789L14.3941 4.48413L15.4553 5.54463L7.50005 13.4999L2.72705 8.72688L3.78755 7.66638L7.50005 11.3789Z" />
						</svg>
						<p class="transactions-sub-text">Parturient Lorem</p>
					</div>
				</div>
			</div>
			<div class="transactions-vertical-slider">
				<div class="swiper my-vertical-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Apple<br /><span>Macbook</span></p>
								</div>
								<p class="transactions-price">-999€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Amazon<br /><span>Electronics</span></p>
								</div>
								<p class="transactions-price">-49€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Twitter<br /><span>Ads</span></p>
								</div>
								<p class="transactions-price">-29€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Microsoft<br /><span>Office Suite</span></p>
								</div>
								<p class="transactions-price">-149€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Dropbox<br /><span>Cloud</span></p>
								</div>
								<p class="transactions-price">-14€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Paypal<br /><span>Shopping</span></p>
								</div>
								<p class="transactions-price">-210€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Apple<br /><span>Macbook</span></p>
								</div>
								<p class="transactions-price">-999€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Amazon<br /><span>Electronics</span></p>
								</div>
								<p class="transactions-price">-49€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Twitter<br /><span>Ads</span></p>
								</div>
								<p class="transactions-price">-29€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Microsoft<br /><span>Office Suite</span></p>
								</div>
								<p class="transactions-price">-149€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Dropbox<br /><span>Cloud</span></p>
								</div>
								<p class="transactions-price">-14€</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="transactions-card">
								<div class="transactions-card-block">
									<img src="./../../../components/Home/Transactions/images/badge.svg" alt="Transactions">
									<p class="transactions-card-text">Paypal<br /><span>Shopping</span></p>
								</div>
								<p class="transactions-price">-210€</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>