.savings {
	padding: 80px 0 0 0;
}

.savings-content {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 60px;
}

.savings-block {
	width: 600px;
}

.savings-top-text {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
	margin-bottom: 10px;
}

.savings-title {
	font-family: var(--second-family);
	font-size: 64px;
	line-height: 110%;
	letter-spacing: -0.03em;
	margin-bottom: 10px;
}

.savings-sub-text {
	font-size: 20px;
	line-height: 180%;
}

.savings-link {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: var(--text-primary);
	transition: all 140ms ease-in;
}

.savings-link:active {
	top: 2px;
}

.savings-icon-btn {
	width: 24px;
	height: 24px;
	fill: var(--icon-primary);
}

.savings-sub-content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
}

.savings-card {
	display: flex;
	flex-direction: column;
	gap: 10px;

	img {
		margin-bottom: 10px;
	}
}

.savings-card-title {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
}

.savings-card-price {
	font-size: 14px;
	color: var(--text-muted);
}

.card-add {
	height: 214px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.savings-icon {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	fill: var(--text-inverse);
	background: var(--background-secondary);
}