@font-face {
  		font-family: "DMSans";
  		src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  		font-weight: 700;
  		font-style: normal;
  		font-display: swap;
		}

@font-face {
  		font-family: "DMSans";
  		src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  		font-weight: 500;
  		font-style: normal;
  		font-display: swap;
		}

@font-face {
  		font-family: "Inter";
  		src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  		font-weight: 500;
  		font-style: normal;
  		font-display: swap;
		}

