<section class="cta">
	<div class="container">
		<div class="cta-content">
			<div class="cta-block">
				<h3 class="cta-title">One app. <br />One banking.</h3>
				<p class="cta-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna.
				</p>
				<div class="cta-advant-grid">
					<div class="cta-advant-block">
						<div class="advant-svg-wrapper">
							<svg class="cta-icon">
								<path
									d="M7.50005 11.3791L14.3941 4.48438L15.4553 5.54488L7.50005 13.5001L2.72705 8.72712L3.78755 7.66663L7.50005 11.3791Z" />
							</svg>
						</div>
						<p class="cta-advant-text">Instant transactions</p>
					</div>
					<div class="cta-advant-block">
						<div class="advant-svg-wrapper">
							<svg class="cta-icon">
								<path
									d="M7.50005 11.3791L14.3941 4.48438L15.4553 5.54488L7.50005 13.5001L2.72705 8.72712L3.78755 7.66663L7.50005 11.3791Z" />
							</svg>
						</div>
						<p class="cta-advant-text">Payments worldwide</p>
					</div>
					<div class="cta-advant-block">
						<div class="advant-svg-wrapper">
							<svg class="cta-icon">
								<path
									d="M7.50005 11.3791L14.3941 4.48438L15.4553 5.54488L7.50005 13.5001L2.72705 8.72712L3.78755 7.66663L7.50005 11.3791Z" />
							</svg>
						</div>
						<p class="cta-advant-text">Saving accounts</p>
					</div>
					<div class="cta-advant-block">
						<div class="advant-svg-wrapper">
							<svg class="cta-icon">
								<path
									d="M7.50005 11.3791L14.3941 4.48438L15.4553 5.54488L7.50005 13.5001L2.72705 8.72712L3.78755 7.66663L7.50005 11.3791Z" />
							</svg>
						</div>
						<p class="cta-advant-text">100% mobile banking</p>
					</div>
				</div>
				<div class="cta-buttons">
					<a href="#!">
						<img src="./../../../components/Home/Cta/images/apple-store.svg" alt="App store">
					</a>
					<a href="#!">
						<img src="./../../../components/Home/Cta/images/google-store.svg" alt="Goole play">
					</a>
				</div>
			</div>
			<div class="cta-smart">
				<div class="smart-balance">
					<p class="balance-text">Current balance</p>
					<p class="balance-price">$ 4.658,50</p>
				</div>
				<img src="./../../../components/Home/Cta/images/cta-card.webp" alt="Card" class="cta-card">
				<div class="smart-money-block">
					<div class="smart-user-block">
						<img src="./../../../components/Home/Cta/images/cta-send.svg" alt="Icon">
						<p class="smart-text">Send Money</p>
					</div>
					<div class="smart-user-block">
						<img src="./../../../components/Home/Cta/images/cta-receive.svg" alt="Icon">
						<p class="smart-text">Receive Money</p>
					</div>
				</div>
				<div class="smart-transactions">
					<p class="smart-transactions-text">Transactions</p>
					<a href="#!" class="smart-transactions-btn">
						View all
						<svg class="smart-arrow">
							<path
								d="M10.2804 5.60265L5.75 1.16886L6.94426 7.62939e-05L13.5135 6.42924L6.94426 12.8584L5.75 11.6896L10.2804 7.25582L0 7.25582L0 5.60265L10.2804 5.60265Z" />
						</svg>
					</a>
				</div>
				<div class="smart-sub">
					<div class="smart-apple">
						<img src="./../../../components/Home/Cta/images/cta-apple.svg" alt="Apple icon">
						<p class="smart-apple-text">Apple<br /><span>Electronic</span></p>
					</div>
					<p class="smart-sub-price">-799$</p>
				</div>
			</div>
		</div>
	</div>
</section>