<footer class="footer">
	<div class="container">
		<div class="footer-content">
			<a href="/" class="footer-logo">
				<img src="./../../../components/common/Footer/images/footer_logo.png" alt="Logo">
			</a>
			<div class="footer-content-block">
				<div class="footer-block">
					<p class="footer-block-title"></p>
					<div class="footer-block-link">
						<a href="#!"></a>
						<a href="#!"></a>
						<a href="#!"></a>
					</div>
				</div>
				<div class="footer-block">
					<p class="footer-block-title"></p>
					<div class="footer-block-link">
						<a href="#!"></a>
						<a href="#!"></a>
						<a href="#!"></a>
					</div>
				</div>
				<div class="footer-block">
					<p class="footer-block-title"></p>
					<div class="footer-block-link">
						<a href="#!"></a>
						<a href="#!"></a>
						<a href="#!"></a>
					</div>
				</div>
				<div class="footer-block">
					<p class="footer-block-title"></p>
					<div class="footer-block-link">
						<a href="#!"></a>
						<a href="#!"></a>
						<a href="#!"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
