.features {
	padding: 80px 0;
}

.features-content {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.features-content-block {
	max-width: 600px;
}

.features-title {
	font-family: var(--second-family);
	font-size: 80px;
	line-height: 110%;
	letter-spacing: -0.03em;
	margin-bottom: 50px;
}

.features-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.features-card {
	position: relative;
	border: 2px solid var(--border-default);
	border-radius: 16px;
	padding: 32px;
	max-width: 284px;
	height: 264px;
	background: var(--background-default);
	transition: all 140ms ease-in;

	img {
		margin-bottom: 10px;
	}
}

.features-card:hover {
	background: var(--background-muted);
}

.card-title {
	font-family: var(--second-family);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: -0.03em;
	margin-bottom: 10px;
}

.features-card-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 10px solid var(--text-default);
	border-radius: 50px;
	padding: 30px 20px 20px 20px;
	max-width: 380px;
	height: 800px;
	background: var(--background-default);
}

.balance {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.current-balance {
	font-family: var(--second-family);
	font-size: 28px;
	line-height: 120%;
	letter-spacing: -0.03em;
}

.features-card-img {
	max-width: 310px;
	height: 186px;
	margin: 0 auto;
}

.money {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.money-block {
	display: flex;
	align-items: center;
	gap: 10px;
}

.money-text {
	font-size: 14px;
}

.trans-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.tr-text {
	font-family: var(--second-family);
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.03em;
}

.tr-btn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	font-family: var(--second-family);
	line-height: 100%;
	letter-spacing: -0.03em;
	color: var(--text-primary);
	transition: all 140ms ease-in;
}

.tr-btn:active {
	top: 2px;
}

.tr-arrow {
	width: 20px;
	height: 20px;
	fill: var(--icon-primary);
}

.trans-socials {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.trans-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 12px 16px 12px 12px;
	background: var(--background-muted);
}

.tr-card-block {
	display: flex;
	align-items: center;
	gap: 20px;
}

.tr-card-text {
	font-family: var(--second-family);
	line-height: 140%;
	letter-spacing: -0.03em;

	span {
		font-family: var(--font-family);
		font-size: 12px;
	}
}

.trans-text {
	font-family: var(--second-family);
	line-height: 140%;
	letter-spacing: -0.03em;
}

.trans-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.tr-menu-icon {
	justify-content: center;
	position: relative;
	width: 45px;
	height: 45px;
	fill: var(--text-default);
	transition: all 140ms ease-in;
}

.tr-menu-icon:hover {
	fill: var(--text-primary);
}